@import "tailwindcss";
@import "./utilities.css";

@layer base {
  html,
  body {
    width: 100%;
    height: 100%;
  }

  .pixel-rounded {
    border-radius: 0;
    clip-path: polygon(
      0% calc(var(--pixel-step) * 3),
      var(--pixel-step) calc(var(--pixel-step) * 3),
      var(--pixel-step) calc(var(--pixel-step) * 2),
      calc(var(--pixel-step) * 2) calc(var(--pixel-step) * 2),
      calc(var(--pixel-step) * 2) var(--pixel-step),
      calc(var(--pixel-step) * 3) var(--pixel-step),
      calc(var(--pixel-step) * 3) 0%,
      calc(100% - var(--pixel-step) * 3) 0%,
      calc(100% - var(--pixel-step) * 3) var(--pixel-step),
      calc(100% - var(--pixel-step) * 2) var(--pixel-step),
      calc(100% - var(--pixel-step) * 2) calc(var(--pixel-step) * 2),
      calc(100% - var(--pixel-step)) calc(var(--pixel-step) * 2),
      calc(100% - var(--pixel-step)) calc(var(--pixel-step) * 3),
      100% calc(var(--pixel-step) * 3),
      100% calc(100% - var(--pixel-step) * 3),
      calc(100% - var(--pixel-step)) calc(100% - var(--pixel-step) * 3),
      calc(100% - var(--pixel-step)) calc(100% - var(--pixel-step) * 2),
      calc(100% - var(--pixel-step) * 2) calc(100% - var(--pixel-step) * 2),
      calc(100% - var(--pixel-step) * 2) calc(100% - var(--pixel-step)),
      calc(100% - var(--pixel-step) * 3) calc(100% - var(--pixel-step)),
      calc(100% - var(--pixel-step) * 3) 100%,
      calc(var(--pixel-step) * 3) 100%,
      calc(var(--pixel-step) * 3) calc(100% - var(--pixel-step)),
      calc(var(--pixel-step) * 2) calc(100% - var(--pixel-step)),
      calc(var(--pixel-step) * 2) calc(100% - var(--pixel-step) * 2),
      var(--pixel-step) calc(100% - var(--pixel-step) * 2),
      var(--pixel-step) calc(100% - var(--pixel-step) * 3),
      0% calc(100% - var(--pixel-step) * 3)
    );

    --pixel-step: inherit;
  }
}
