@import "tailwindcss";
@import "./utilities.css";

@layer base {
  body {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 600px;
    overflow: hidden;
    background-color: black;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.4);
  }

  .pixel-rounded {
    border-radius: 0;
    clip-path: polygon(
      0% calc(var(--pixel-step) * 3),
      var(--pixel-step) calc(var(--pixel-step) * 3),
      var(--pixel-step) calc(var(--pixel-step) * 2),
      calc(var(--pixel-step) * 2) calc(var(--pixel-step) * 2),
      calc(var(--pixel-step) * 2) var(--pixel-step),
      calc(var(--pixel-step) * 3) var(--pixel-step),
      calc(var(--pixel-step) * 3) 0%,
      calc(100% - var(--pixel-step) * 3) 0%,
      calc(100% - var(--pixel-step) * 3) var(--pixel-step),
      calc(100% - var(--pixel-step) * 2) var(--pixel-step),
      calc(100% - var(--pixel-step) * 2) calc(var(--pixel-step) * 2),
      calc(100% - var(--pixel-step)) calc(var(--pixel-step) * 2),
      calc(100% - var(--pixel-step)) calc(var(--pixel-step) * 3),
      100% calc(var(--pixel-step) * 3),
      100% calc(100% - var(--pixel-step) * 3),
      calc(100% - var(--pixel-step)) calc(100% - var(--pixel-step) * 3),
      calc(100% - var(--pixel-step)) calc(100% - var(--pixel-step) * 2),
      calc(100% - var(--pixel-step) * 2) calc(100% - var(--pixel-step) * 2),
      calc(100% - var(--pixel-step) * 2) calc(100% - var(--pixel-step)),
      calc(100% - var(--pixel-step) * 3) calc(100% - var(--pixel-step)),
      calc(100% - var(--pixel-step) * 3) 100%,
      calc(var(--pixel-step) * 3) 100%,
      calc(var(--pixel-step) * 3) calc(100% - var(--pixel-step)),
      calc(var(--pixel-step) * 2) calc(100% - var(--pixel-step)),
      calc(var(--pixel-step) * 2) calc(100% - var(--pixel-step) * 2),
      var(--pixel-step) calc(100% - var(--pixel-step) * 2),
      var(--pixel-step) calc(100% - var(--pixel-step) * 3),
      0% calc(100% - var(--pixel-step) * 3)
    );

    --pixel-step: inherit;
  }

  .pixel-toast {
    border-radius: 2px !important;
    font-family: DungGeunMo, "DungGeunMo Fallback", serif;
    font-size: 15px !important;
    font-weight: bold;
    box-shadow: 0 4px 0 black !important;
  }
}
