@layer utilities {
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .center-x {
    display: flex;
    justify-content: center;
  }

  .center-y {
    display: flex;
    align-items: center;
  }

  .row-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .column {
    display: flex;
    flex-direction: column;
  }

  .column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .column-center-x {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .column-center-y {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .column-between {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}
