@layer utilities {
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .center-x {
    display: flex;
    justify-content: center;
  }

  .center-y {
    display: flex;
    align-items: center;
  }

  .row-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .column {
    display: flex;
    flex-direction: column;
  }

  .column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .column-center-x {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .column-center-y {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .column-between {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}

@layer dialog {
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes scale-up-and-fade {
    from {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.95);
    }
    to {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }

  @keyframes scale-down-and-fade {
    from {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
    to {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.95);
    }
  }

  .animate-fade-in {
    animation: fade-in 100ms ease-out both;
  }

  .animate-fade-out {
    animation: fade-out 100ms ease-out both;
  }

  .animate-scale-up-and-fade {
    animation: scale-up-and-fade 100ms ease-out both;
  }

  .animate-scale-down-and-fade {
    animation: scale-down-and-fade 100ms ease-out both;
  }
}
